<nav class="navbar navbar-light fixed-top bg-light shadow-sm">
    <div class="container-lg">
        <a class="navbar-brand text-dark fw-bold">Argentina Programa</a>
        <div class="social-links">
            <a [href]="miNavbar.paggithub" class="text-dark me-3"><i class="fab fa-github"></i></a>
            <a [href]="miNavbar.paglinkedin" class="text-dark me-3"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <!-- <div class="col-md-3 text-end">
          <button type="button" class="btn btn-danger" (click)="LogOut()">LogOut</button>
        </div>   -->
    </div>
  </nav>