.example-card {
  max-width: 200px;
}

.example-header-image {
  background-size: cover;
}

ul{
  list-style-type: none;
}

section { 
  margin: 0; font-family: 'Roboto Mono', monospace !important;

}
