<section class="home py-5" id="home">
    <div class="container-lg">
        <div class="row min-vh-100 align-items-center align-content-center">
            <div class="col-md-6 mt-5 mt-md-0">
                <div class="home-img text-center">
                    <div class="btn-edit d-flex justify-content-end">
                        <a href="#" class="p-2">
                            <i class="fa-solid fa-pencil text-danger"></i>
                        </a>
                    </div>
                    <img [src]="miPortfolio.image" class="rounded-circle mw-100" alt="profile image">
                </div>
            </div>
            <div class="col-md-6 mt-5 mt-md-0 order-md-first">
                <div class="home-text">
                    <p class="text-muted mb-1 fs-4">Hola! Soy</p>
                    <h1 class="fs-1">{{miPortfolio.nombre}} {{miPortfolio.apellido}}</h1>
                    <h2 class="text-danger text-uppercase fs-4 fw-bold">{{miPortfolio.title}}</h2>

                    <p class="mt-4 text-muted">{{miPortfolio.description}}</p>
                    <a href="#portfolio" class="btn btn-secondary px-3 mt-3">Algunos proyectos</a>
                </div>
            </div>
        </div>
    </div>
</section>