<section class="freelancer-available py-5 bg-danger" id="freelancer-available">
    <div class="container-lg py-4">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <p class="text-light fs-5">¿Tienes algún proyecto?</p>
                <h2 class="fs-1 text-white mb-4">Me encuentro disponible para proyectos freelancer</h2>
                <a href="#contact" class="btn btn-outline-light">Contrátame</a>
            </div>
        </div>
    </div>
</section>
