.progress-div{
    display: flex;
    justify-content: center;
    padding: 10px;
}

ul{
    list-style-type: none;
  }

  section { 
    margin: 0; font-family: 'Roboto Mono', monospace !important;

}