<section class="about py-5" id="about" style="background-color: lightgrey;">
    <div class="container-lg py-4">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <div class="row">
                        <h2 class="fw-bold mb-5 fs-3">Experiencia<div class="btn-edit d-flex justify-content-end">
                            <button mat-icon-button *ngIf="login" color="warn" (click)="openDialog()">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-text" >
            <p class="text-muted fs-6 text-center">Además de una constante búsqueda de crecimiento personal y una contínua capacitación cuento con una sólida trayectoria de más de 20 años en diversos rubros tales como: Diseño Gráfico, Decoración de Interiores y Administración entre otros. Puedes descargar mi CV y, si lo deseas, programar una entrevista personal para que pueda brindarte un mayor detelle de mis actividades laborales.</p>
            <br>
        </div>
            <div *ngFor="let experience of misExperiencias">
                <div class="card">
                    <div class="btn-edit d-flex justify-content-end">
                        <button mat-icon-button *ngIf="login" color="warn" (click)="editExperience(experience)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button *ngIf="login" (click)="deleteExperience(experience.id)" color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                    <h3 class="card-header">
                        {{experience.jobPosition}}
                    </h3>
                    <div class="card-body">
                      <h4 class="card-title">{{experience.company}}</h4>
                      <p> Desde: {{experience.dateStart | date : "dd-MM-YYYY"}}  //  Hasta: {{experience.dateEnd | date : "dd-MM-YYYY"}}</p>
                      <p class="card-text">{{experience.description}}</p>
                    </div>
                  </div>
            </div>
            <!-- <div class="col" *ngFor="let experience of misExperiencias">
              <div class="card">
                <mat-card class="card">
                    <div class="btn-edit d-flex justify-content-end">
                    <button mat-icon-button *ngIf="login" color="warn" (click)="editExperience(experience)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="login" (click)="deleteExperience(experience.id)" color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
                <mat-card-title>{{experience.jobPosition}}</mat-card-title>
                <mat-card-subtitle>{{experience.company}}</mat-card-subtitle>
                <mat-card-content>
                    <p> Desde: {{experience.dateStart | date : "dd-MM-YYYY"}}  <br> Hasta: {{experience.dateEnd | date : "dd-MM-YYYY"}}</p>
                  <p>{{experience.description}}</p>
                </mat-card-content>
              </mat-card>
              </div>
            </div> -->
          <br>
          <div class="row">
            <div class="col-lg-12">
                <a (click)="download()" mat-raised-button color="primary">Descargar CV completo</a>
            </div>
          </div>
        </div>
</section>

